<!--inherits the layout template-->
{% extends "layout.html"%}
<!--this content is unique to home.html-->
{% block content %}
    <h1>Search Laureate Page</h1>
    <div>
        <form method="get" action="{{url_for('about')}}">
            {{form.hidden_tag()}}
            <fieldset class="form-group">
                <div>
                    {{form.knownname.label(class="form-control-label")}}
                    {{form.knownname(class="form-control form-control-lg")}}
                </div> 
                
            </fieldset>
            <div>
                {{form.submit(class="btn btn-outline-info")}}
            </div>
           <h1></h1>
            
        </form> 
    </div>
{% endblock content%}